.communication {
  margin-top: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;

  &__tel {
    transition: color $transition-duration;
    &:hover {
      color: $c-white;
    }
  }

  @include onTablet {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}
